{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Select All
                                </label>
                            </div>
                        </th>
                        <th>Author</th>
                        <th>Created</th>
                        <th class="text-capitalize">Company From</th>
                        <th>items</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in data %}
                        <tr>
                            <th scope="row">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">{{ booking.id }}
                                    </label>
                                </div></th>
                            <td>{{ booking.user.lastName~' '~booking.user.lastName }}</td>
                            <td>{{ booking.created | date('Y-M-d H:i') }}</td>
                            <td class="text-capitalize">{{ booking.referenceItem.first.companyFrom }}</td>
                            <td>
                                <a href="{{ path('reference-generate-excel', {'referenceId':booking.id, 'state':1}) }}" type="button" class="btn btn-info">
                                    Արձանագրություն
                                </a>
                                <a href="{{ path('reference-generate-excel', {'referenceId':booking.id, 'state':0}) }}" type="button" class="btn btn-info">
                                    Ինքնարժեք
                                </a>
                                <a href="{{ path('reference-generate-excel', {'referenceId':booking.id, 'state':2}) }}" type="button" class="btn btn-info">
                                    Կոդերի ցանկ
                                </a>
                                <a href="{{ path('reference-generate-xml', {'referenceId':booking.id}) }}" type="button" class="btn btn-info">
                                    Կապ xml
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="panel-footer">

                </div>
            </div>

        </div>
    </div>
{% endblock %}